@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MailActivition</title>
</head>
<body>
    <div>
        <form>
           
        </form>
    </div>
</body>
</html>
